.pokemon-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	margin: 1rem 0;
}
.pokemon-card {
	flex: 0 0 calc(15%);
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 16px;
	width: 200px;
	background-color: #f9f9f9;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s;
}
.pokemon-card-text {
	text-transform: capitalize;
	margin-bottom: 8px;
}
.pokemon-image {
	width: 150px;
	height: 150px;
	object-fit: contain;
	margin-bottom: 8px;
}
/* estilos button card */
.btn-type-card {
	padding: 0.25rem 0.75rem;
	border: none;
	border-radius: 50px;
	font-weight: bold;
	color: var(--clr-white);
	cursor: default;
	text-transform: uppercase;
	margin-right: 0.5rem;
	font-size: 0.8rem;
}
.btn-load {
	display: block;
	margin: 1rem auto;
	font-size: 1rem;
	background-color: var(--clr-white);
	color: var(--clr-red);
	border: none;
	cursor: pointer;
	padding: 0.8rem 1.5rem;
	border-radius: 8px;
	font-weight: bold;
	text-decoration: none;
	transition: 0.3s ease;
	max-height: 3rem;
}
.btn-load:hover {
	color: var(--clr-black);
	transform: translateY(2px);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.39);
}
