:root {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	background-color: var(--clr-gray);
	/* paleta de colores */
	--clr-black: #1c1c1c;
	--clr-gray: #e0e0e0;
	--clr-white: #fdfdfd;
	--clr-red: #ef5350;
	--clr-yellow: #ffd700;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #baf253;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
